@model BachHoaOnline.Models.Hoadon

@{
    ViewData["Title"] = "Update";
    Layout = "Frontend";
}

@{ 
    BACHHOA_ONLINEContext db = new BACHHOA_ONLINEContext();
    List<Trangthai> listTT = db.Trangthai.ToList();
}
<h2>Cập nhật hóa đơn</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mahd" />
            <div class="form-group">
                <label asp-for="Matrangthai" class="control-label">Trạng thái</label>
                <select asp-for="Matrangthai" class="form-control" asp-items="ViewBag.Matrangthai">
                    @foreach (var tt in listTT)
                    {
                        <option value="@tt.Matrangthai">@tt.Tentrangthai</option>
                    }
                </select>
                <span asp-validation-for="Matrangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cachthanhtoan" class="control-label">Cách thanh toán</label>
                <select asp-for="Cachthanhtoan" class="form-control">
                    <option value="Trực tiếp">Trực tiếp</option>
                    <option value="Paypal">Paypal</option>
                    <option value="Onepay">Onepay</option>
                </select>
                <span asp-validation-for="Cachthanhtoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaygiao" class="control-label">Ngày giao</label>
                <input asp-for="Ngaygiao" class="form-control" />
                <span asp-validation-for="Ngaygiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoten" class="control-label">Họ tên</label>
                <input asp-for="Hoten" class="form-control" />
                <span asp-validation-for="Hoten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label">Địa chỉ</label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </form>
        @if (ViewBag.status != null)
        {
            <span>@ViewBag.status</span>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Về lại trang danh sách</a>
</div>

