@model BachHoaOnline.Models.Khachhang

@{
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="~/vendors/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="~/vendors/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="~/vendors/linericon/style.css">
<link rel="stylesheet" href="~/vendors/nice-select/nice-select.css">
<link rel="stylesheet" href="~/vendors/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="~/vendors/nouislider/nouislider.min.css">

<link rel="stylesheet" href="~/vendors/css/style.css">

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                        <a class="button button-account" href="/dang-ky">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="Customer/DoLogin" id="contactForm" method="post">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>                 
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-login w-100">Log In</button>                            
                        </div>
                    </form>
                    <span>@{string status = ""; if (TempData["status"] != null) { status = TempData["status"].ToString(); }} @status</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<script src="~/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendors/skrollr.min.js"></script>
<script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="~/vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="~/vendors/nouislider/nouislider.min.js"></script>
<script src="~/vendors/jquery.ajaxchimp.min.js"></script>
<script src="~/vendors/mail-script.js"></script>
<script src="~/vendors/js/main.js"></script>

<script>
    $('#abc').hide();
</script>