
@{
    ViewData["Title"] = "Error";
    Layout = "Frontend";
}

<h2>Bạn không có quyền.</h2>
<div style="text-align: center;">
    <p>Vui lòng đăng nhập tài khoản dành cho quản trị viên hoặc liên hệ quản trị viên để truy cập.</p>
    <a href="/dang-nhap">Đăng nhập</a>
</div>