
@{
    ViewData["Title"] = "Index";
}

<a href="@Url.Action("Index","Product")">Quản lý sản phẩm</a>
<a href="@Url.Action("Index","Order")">Quản lý hóa đơn</a>
<a href="@Url.Action("Index","Account")">Quản lý tài khoản</a>